<%- include('../partials/header') %>

<h2>Enter a New Diet</h2>
<form action="/diets" method="POST">
  <label>Name:
    <input type="text" name="name">
  <label>Meal:
    <select name="Meal">
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Dessert">Dessert</option>
    </select>
  </label><br>
  <label>Recipe:
    <input type="text" name="Recipe">
  </label><br>
  <button type="submit">Add Diet</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>